.container{
    background: url(../assets/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 300px;
}

.logo{
    color: orange;
    font-size: 20px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-colm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

#my-btn{
    border-color: orange;
    background: transparent;
    color: #fff;
    font-size: 16px;
}